includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/localheinz/phpstan-rules/rules.neon

parameters:
    level: max
    paths:
        - src
        - tests
        - public
